# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import csv

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = ("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [3]:
chipo.head(11)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25
10,5,1,Chips and Guacamole,NaN,$4.45

### Step 5. What is the number of observations in the dataset?

In [4]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [5]:
chipo.shape

(4622, 5)

### Step 6. What is the number of columns in the dataset?

In [6]:
df=pd.DataFrame(chipo)
df
print(len(df.columns))

5

### Step 7. Print the name of all the columns.

In [7]:
print(df.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [9]:
df['item_name'].mode()

0    Chicken Bowl
dtype: object

### Step 10. For the most-ordered item, how many items were ordered?

In [10]:
df['item_name'].value_counts()[0]

726

### Step 11. What was the most ordered item in the choice_description column?

In [11]:
df['choice_description'].value_counts(dropna=False)

NaN                                                                                                    1246
[Diet Coke]                                                                                             134
[Coke]                                                                                                  123
[Sprite]                                                                                                 77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                   42
                                                                                                       ...
[[Black Beans, Rice, Cheese]]                                                                             1
[Fresh Tomato Salsa, [Fajita Vegetables, Black Beans, Cheese]]                                            1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Sour Cream]]                                      1
[Tomatillo Red Chili Salsa, [Fajita Vegetables, Rice, Black Beans, Sour Cream, Guacamole, Lettuce]]       1
[Tomatillo Red Chili Salsa, [Black Beans, Cheese]]                                                        1
Name: choice_description, Length: 1044, dtype: int64

### Step 12. How many items were orderd in total?

In [12]:
df['quantity'].value_counts()

1     4355
2      224
3       28
4       10
8        1
5        1
10       1
7        1
15       1
Name: quantity, dtype: int64

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [13]:
df.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [14]:
df['item_price'] = df['item_price'].astype(str)
df['item_price'] = df['item_price'].str[1:]
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [15]:
df['item_price'] = df['item_price'].astype(float)
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

#### Step 13.c. Check the item price type

In [16]:
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### Step 14. How much was the revenue for the period in the dataset?

In [17]:
df['item_price'].sum()

34500.16

### Step 15. How many orders were made in the period?

In [18]:
print(len(chipo)-1)

4621

### Step 16. What is the average revenue amount per order?

In [19]:
# Solution 1
df[['item_price']].mean()

item_price    7.464336
dtype: float64

In [20]:
# Solution 2
AVERAGE=df['item_price'].sum()/(len(df)-1)
AVERAGE

7.465951092837049

### Step 17. How many different items are sold?

In [21]:
a_list = []
a_list.append(df['item_name'])
a_list

[0                Chips and Fresh Tomato Salsa
 1                                        Izze
 2                            Nantucket Nectar
 3       Chips and Tomatillo-Green Chili Salsa
 4                                Chicken Bowl
                         ...
 4617                            Steak Burrito
 4618                            Steak Burrito
 4619                       Chicken Salad Bowl
 4620                       Chicken Salad Bowl
 4621                       Chicken Salad Bowl
 Name: item_name, Length: 4622, dtype: object]